*{
	margin: 0;
	padding: 0;
	outline: 0;
}

a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}

img{
	vertical-align: middle;
}

ul,li{
	list-style-type: none;
}
/*-----------------preloder part start----------------*/
.holder {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  background-color: #7dbbf4;
	z-index: 99999;
}

.preloader {
  position: absolute;
  width: 10%;
  height: 0%;
  padding-bottom: 10%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.preloader div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
  animation: animatePreloader 1s infinite linear;
  transform-origin: 50% 100%;
}
.preloader div:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  border: 3px solid #333;
  border-radius: 50%;
  box-sizing: border-box;
}
.preloader div:nth-child(2) {
  width: 60%;
  height: 60%;
  top: 20%;
  animation: animatePreloader 0.5s infinite linear;
}
@keyframes animatePreloader {
  0% {
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotateZ(360deg);
  }
}
/*-----------------preloder part start----------------*/
/*-----------------back-to-top part start----------------*/
.back-to-top {
	bottom: 20px;
	right: 20px;
	position: fixed;
	z-index: 9999;
}
.back-to-top i{
	width: 50px;
	height: 50px;
	border-radius: 80px;
	background: #7dbbf4;
	font-size: 28px;
	color: #fff;
	line-height: 43px;
	transform: rotate(180deg);
	text-align: center;
	transition: all linear .3s;
}
.back-to-top i:hover{
	background: #3a85c9;
}
/*-----------------back-to-top part start----------------*/
/*-----------------navber part start----------------*/
.bg{
	background: #7dbbf4;
	animation: navbar 1s;
}
@keyframes navbar{
	from {top: -50px;}
	to {top: 0px;}
}
.navbar{
	position: fixed;
	z-index: 999;
	width: 100%;
}
.navbar-expand-lg .navbar-nav {
    width: 730px;
	padding-left: 300px;
	
}
.btn-outline-success1{
	background: #3a85c9;
	border-radius: 50%;
	border: none;
}
.btn-outline-success1 i{
	color: #fff;
	font-size: 16px;
}
.navbar-light .navbar-nav .nav-link{
	font-size: 16px;
	color: #444;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	transition: all linear .3s;
}
.navbar-light .navbar-nav .nav-link:hover{
	color: #3a85c9;
	border-bottom: 2px solid #3a85c9;
}
.form-inline .form-control{
	width: 172px;
}
/*-----------------navber part start----------------*/
/*-----------------banner part start----------------*/
.banner-main{
	background: url(../images/banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	
}
.banner-left h3{
	color: #3a85c9;
	font-size: 65px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding-bottom: 50;
	
}
.banner-left{
	padding-bottom: 170px;
	padding-top: 150px;
}
.banner-left span{
	font-family: 'Abril Fatface', cursive;
	font-weight: 300;
}
.btn-warning1{
	color: #3a85c9;
	background: #fff;
	border-radius: 25px;
	border: #444;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	transition: all linear .3s;
	
}
.btn-warning1:hover{
	background: #3a85c9;
	color:#fff;
}
.banner-cam img{
	position: absolute;
	top: 150px;
}
/*-----------------banner part end----------------*/
/*-----------------fratures part end----------------*/
#fratures{
	padding-bottom: 40px;
	
}
.fratures-header{
	width: 575px;
	margin: 0 auto;
	padding-top: 80px;
	padding-bottom: 57px;
	
}
.fratures-header h3{
	color: #3a85c9;
	font-size: 32px;
	font-family: 'Abril Fatface', cursive;
	font-weight: 400;
	padding-bottom: 17px;
}
.fratures-header p{
	color: #444444;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
.features-content{
	padding: 14px 0px;
	transition: all linear .3s;
}
.features-content:hover{
	background: #fafafa;
	border-radius: 4px;
}
.features-content i{
	font-size: 60px;
	color: #444;
	padding-left: 10px;
	
	
}
.features-content h4{
	font-size: 20px;
	color: #222;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	padding-top: 18px;
	padding-bottom: 30px;
	padding-left: 10px;
	
}
.features-content p{
	font-size: 14px;
	color: #444;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding-left: 10px;
}
.lance{
	padding: 125px 0px;
}
/*-----------------fratures part end----------------*/
/*-----------------about part end----------------*/
#about{
	background: url(../images/about-instument-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.about-left img{
	margin-top: 20px;
}
.about-right{
	padding-top: 105px;
}
.about-right h4{
	font-size: 32px;
	color: #3a85c9;
	font-family: 'Abril Fatface', cursive;
	font-weight: 300;
	padding-bottom: 30px;
}
.about-right p{
	font-size: 14px;
	color: #444;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding-bottom: 10px;
}
.about-right span{
	padding-bottom: 75px;
}

.about-right button{
	color: #fff;
	background: #3a85c9;
	border: 2px solid #0e5ea7;
	
}

/*-----------------about part end----------------*/
/*-----------------qustion art start----------------*/
.qustion-header h3{
	font-size:32px;
	color: #3a85c9;
	font-family: 'Abril Fatface', cursive;
	font-weight: 300;
	padding: 30px 0px;
	
}
.btn-link{
	color: #999;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.card-body{
	color: #999;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.qustion-right{
	background: #d3e9fe;
	padding: 45px 30px;
	margin-top: 60px;
	
}
.qustion-right h3{
	font-size: 32px;
	color: #3a85c9;
	font-family: 'Abril Fatface', cursive;
	font-weight: 300;
	padding-top: 20px;
}
.qustion-right p{
	font-size: 14px;
	color: #777;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding-bottom: 40px;
}
.qustion-right input{
	border: 1px solid #777;
	background: transparent;
}
.qustion-right button{
	margin: 17px 0px;
	background: #fff;
	color: #3a85c9;
	
}
.qustion-right span{
	font-size: 14px;
	color: #777;
}
/*-----------------qustion art end----------------*/
/*-----------------review art start----------------*/
#review{
	background: #f5f5f5;
	margin-top: 100px;
	position: relative;
}
.review-header{
	padding-top: 60px;
	padding-bottom: 170px;
	margin-left: 100px;

}
.review-header h4{
	font-size: 32px;
	color: #3a85c9;
	font-family: 'Abril Fatface', cursive;
	font-weight: 300;
	
}
.review-header p{
	font-size: 14px;
	color: #444;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding-top: 25px;
	padding-bottom: 5px;
	
	
}
.review-header a{
	font-size: 14px;
	color: #444;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	
	
}
.review-left img{
	position: absolute;
	top: 245px;
	width: 480px;
	left: -30px;
	margin-left: 100px;
}
.review-right i{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	line-height: 40px;
	background: #fff;
	color: #444;
	text-align: center;
	position: absolute;
	top: 190px;
	left: -7px;
	z-index: 99;
	
}
/*-----------------review art end----------------*/
/*-----------------product art end----------------*/
#product{
	padding-top: 170px;
}
.product-header{
	width: 580px;
	margin: 0 auto;
}
.product-header h2{
	color: #3a85c9;
	font-size: 32px;
	font-family: 'Abril Fatface', cursive;
	font-weight: 300;
}
.product-header p{
	font-size: 14px;
	color: #777;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding-bottom: 42px;
}
.product-item{
	background: #d3e9fe;
	margin-bottom: 25px;
}
.product-item img{
	padding-top: 26px;
	
}
.product-right{
	background: #f5f5f5;
}
.product-right-header{
	
}
.product-right-header h4{
	font-size: 20px;
	color: #3a85c9;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	padding-top: 35px;
	padding-bottom: 24px;
	
}
.list-left{
	float: left;
	padding-right: 50px;
}
.list-left ul,li{
	color: #444;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding-bottom: 18px;
	font-weight: 300;
}
.product-right-header button{
	color: #fff;
	background: #3a85c9;
	padding: 10px 55px;
}
/*-----------------product art end----------------*/
/*-----------------testimonial art start----------------*/
.testimonial-header{
	margin: 0 auto;
	width: 500px;
	padding-top: 60px;
	padding-bottom: 45px;
	
}
.testimonial-header h2{
	font-size: 32px;
	color: #3a85c9;
	font-family: 'Abril Fatface', cursive;
	font-weight: 300;
	
}
.testimonial-header p{
	font-size: 14px;
	color: #444;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.card{
	position: relative;
}
.card p{
	background: #d8ecfe;
	color: #444;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding: 30px;
	padding-bottom: 100px;
}
.card img{
	width: 100px;
	height: 100px;
	position: absolute;
	top: 165px;
	left: 130px;
	border-radius: 50%;
	border: 2px solid #fff;
}
.card-body h5{
	color: #222;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	padding-top: 30px;
}
.card-body h6{
	color: #999;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	padding-top: 8px;
}
.card-body i{
	color: #3a85c9;
	font-size: 16px;
	padding-top: 8px;
}
.slide-button{
	padding-top: 30px;
}
.slide-button i{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #fff;
	color: #3a85c9;
	border: 2px solid #3a85c9;
	line-height: 38px;
	transition: all linear .3s;
}
.slide-button i:hover{
	background: #3a85c9;
	color: #fff;
	border: 2px solid #2978c1;
}
/*-----------------testimonial art end----------------*/
/*-----------------news art end----------------*/
#news{
	padding-top: 100px;
}
.news-header{
	width: 500px;
	margin: 0 auto;
	padding-bottom: 62px;
	
}
.news-header h3{
	font-size: 32px;
	color: #3a85c9;
	font-family: 'Abril Fatface', cursive;
	font-weight: 300;
	padding-bottom: 8px;
	
}
.news-header p{
	color: #444;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.news-picture{
	position: relative;
}
.news-item{
	background: #f5f5f5;
}
.overlay{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(68, 68, 68, 0.6);
}
.overlay p{
	position: absolute;
	color: #fff;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	z-index: 99;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%)
	
	
}
.overlay span{
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.news-right{
	padding-top: 30px;
	background: #f5f5f5;
}
.news-right h4{
	color: #222;
	font-size: 20px;
	font-family: 'Abril Fatface', cursive;
	font-weight: 400;
	padding-bottom: 26px;
}
.news-right img{
	float: left;
}
.news-right h5{
	padding-top: 7px;
	color: #999;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding-left: 70px;
}
.news-right h6{	color: #222;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding-left: 70px;
}
.news-right p{ 
	font-size: 14px;
	color: #444;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding-top: 28px;
}
.news-right button{
	color: #fff;
	background: #3a85c9;
	border-radius: 15px;
	margin-top: 40px;
	
}
/*-----------------news art end----------------*/
/*-----------------footer art end----------------*/
#contact{
	background: #deeefe;
	margin-top: 100px;
	padding-bottom: 100px;
	
}
.contact-header {
	margin: 0 auto;
	width: 165px;
	margin-top: 26px;
}
.contact-header img{
	padding-top: 26px;
	padding-bottom: 60px;
}
.contact-prosses{
	padding-bottom: 32px;
}
.icon{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #3a85c9;
	text-align: center;
}
.icon i{
	font-size: 20px;
	color: #fff;
	line-height: 40px;
	
}
.text h5{
	font-size: 14px;
	color: #444;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding-right: 70px;
	line-height: 20px;
	
}
.follow {
	text-align: center;
	
}
.follow h4{
	color: #3a85c9;
	font-size: 30px;
	font-family: 'Abril Fatface', cursive;
	font-weight: 400;
	padding-bottom: 35px;
	
}
.follow i{
	width: 40px;
	height: 40px;
	border: 1px solid #444;
	border-radius: 50%;
	font-size: 20px;
	line-height: 40px;
	transition: all linear 3s;
}
.follow i:hover{
	color: #fff;
	background: #3a85c9;
}

/*-----------------footer art end----------------*/
